/* Footer */
.footer__bookmark {
    background: $footer-color;


  
  
  &--container {
    padding: 3rem 4rem;
    display: flex;
    align-items: center;
    @include respond(tab-port) {
        display: block;
        text-align: center;
    }
  }
  
  &--logo {
    width: 15rem;
    cursor: pointer;
    margin-right: 2rem;
    @include respond(tab-port) {
        margin-right: 0;        
    }
  }
  
   ul {
    display: flex;
    text-transform: uppercase;

    @include respond(tab-port) {
       align-items: center;
       justify-content: center; 
       display: block;
       margin: 2rem 0;    
    }
    
    li{
      
      @include respond(tab-port) {
         margin: 1rem 0;  
      }
    }


    a {
        font-size: 16px;
        color: #fff;
        margin: 0 1rem;
        position: relative;


        &:hover {
            color: $color-primary-light;
          }
      }
  }
  
  &--icons {
    display: flex;
    margin-left: auto;
    transition: .3s ease-in;

    @include respond(tab-port) {
      align-items: center;
      justify-content: center; 
      margin: 3rem 0;
   }


    img{
      width: 2rem;
      margin: 0 2rem;
      cursor: pointer;
      
      @include respond(tab-port) {
          width: 3rem;

       }
    

        &:hover{

            color: $color-primary-light;
        }
    
    }
  }


}